body {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

button {
    position: absolute;
    display: block;
    width: 20vw;
    max-width: 30vw;
    height: auto;
    margin: 1vh;
    padding: 1vh;
}

input {
    position: absolute;
    display: block;
    width: 20vw;
    max-width: 30vw;
    height: auto;
    margin: 1vh;
    padding: 1vh;
}

img {
    width: 100%;
    height: 100%;
}

.error {
    position: absolute;
    display: block;
    margin: 1vh;
    padding: 0px;
}

.link {
	position: absolute;
    display: block;
    margin: 1vh;
    padding: 0px;
}

.interactable {
    text-decoration: none;
    cursor: pointer;
    pointer-events: all;
    outline: 0;
    transform: translateZ(0) scale(1.0, 1.0);
}

.imgA1 {
    position: absolute;
    width: auto;
    height: auto;
    max-height: 100vh;
    margin: 0px;
    padding: 0px;
    left: 50vw;
    transform: translate(-50%, 0%);
}

.imgB1 {
    position: absolute;
    width: auto;
    height: auto;
    max-width: 100vw;
    bottom: 60vh;
    left: 50vw;
    transform: translate(-50%, 50%);
    margin: 0px;
    padding: 0px;
}

#login input {
    left: 50vw;
    transform: translate(-50%, 0%);
}

#login .error {
    bottom: 25vh;
    left: 50vw;
    transform: translate(-50%, 0%);
    visibility: hidden;
}

#login button {
    bottom: 14vh;
    left: 50vw;
    transform: translate(-50%, 0%);
}

#login .link {
    bottom: 10vh;
    left: 50%;
    transform: translate(-50%, 0%);
}

#home label {
    position: absolute;
    top: 10vh;
    width: 100vw;
    max-width: 100vw;
    height: auto;
    margin: 1vh;
    padding: 1vh;
}

#home .dashboard {
    position: absolute;
    left: 50vw;
    top: 50vh;
    display: grid;
    grid-template-columns: 27vh 27vh 27vh 27vh;
    grid-template-rows: 27vh 27vh;
    transform: translate(-50%, -40%);
    text-align: center;
}

#home .dashboard .panel {
    width: 25vh;
    height: 25vh;
    margin: 0px;
    padding: 1vh;
}

#home .dashboard .panel:hover {
    cursor: pointer;
    width: 27vh;
    height: 27vh;
    transform: translate(-1vh, -1vh);
}
