body {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

button {
    position: absolute;
    display: block;
    width: 20vw;
    max-width: 30vw;
    height: auto;
    margin: 1vh;
    padding: 1vh;
}

input {
    position: absolute;
    display: block;
    width: 20vw;
    max-width: 30vw;
    height: auto;
    margin: 1vh;
    padding: 1vh;
}

.error {
    position: absolute;
    display: block;
    margin: 1vh;
    padding: 0px;
}

.link {
	position: absolute;
    display: block;
    margin: 1vh;
    padding: 0px;
}

.imgA1 {
    position: absolute;
    width: auto;
    height: auto;
    max-height: 100vh;
    margin: 0px;
    padding: 0px;
    left: 50vw;
    transform: translate(-50%, 0%);
}

.imgB1 {
    position: absolute;
    max-width: 100vw;
    height: auto;
    bottom: 60vh;
    left: 50vw;
    transform: translate(-50%, 50%);
    margin: 0px;
    padding: 0px;
}

#login input {
    left: 50vw;
    transform: translate(-50%, 0%);
}

#login .error {
    bottom: 25vh;
    left: 50vw;
    transform: translate(-50%, 0%);
    visibility: hidden;
}

#login button {
    bottom: 14vh;
    left: 50vw;
    transform: translate(-50%, 0%);
}

#login .link {
    bottom: 10vh;
    left: 50%;
    transform: translate(-50%, 0%);
}