body {
	font-family: Helvetica, sans-serif;
}

button {
	text-align: center;
	font-size: 3vh;
	font-weight: bold;
	color: #67AB9F;
	text-transform: uppercase;
	border: 1px solid #6C8EBF;
	border-radius: 12px;
	background-color: #F5F5F5;
}

button:hover {
	background-color: lightblue;
}

button:focus {
	background-color: #DAE8FC;
	outline: none;
}

input {
	font-size: 3vh;
	border: none;
	background-color: rgba(255, 255, 255, 0.75);
}

.error {
	color: red;
	font-size: 2vh;
}

.link {
	color: #10739E;
	font-size: 2vh;
	text-decoration: underline;
}

.banner {
    background-color: #67ab9f;
}

.navigation .nav_tab {
    background: lightblue;
    border: 1px solid black;
    border-radius: 24px;
}

#home label {
	color: #67AB9F;
	font-size: 5vh;
	text-align: center;
	font-weight: bold;
}

#home .dashboard .panel .overlay {
	font-size: 3vh;
	font-weight: bold;
	vertical-align: middle;
}

#profile .text {
	text-align: center;
	color: white;
	font-size: 2vh;
}

#profile .infoContainer label {
    font-size: 2vh;
}

#profile hr {
	border-bottom: 1px solid #67AB9F;
    border-top: none;
    border-left: none;
    border-right: none;
}

#profile .sectionTitle {
	font-size: 3vh;
	text-transform: uppercase;
	color: #67AB9F;
}

#profile .right .infoContainer .title {
	font-size: 2vh;
	font-style: italic;
}

#profile .right .infoContainer .period {
	font-size: 2vh;
	color: #00D9D9;
}

#profile .right .infoContainer p {
	font-size: 2vh;
}

#documents .link {
    font-size: 3vh;
}
