body {
	font-family: Helvetica, sans-serif;
}

select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	background: url('../images/button_select.png') no-repeat right;
	background-size: 5% 100%;
	font-size: 2vh;
}

.tealBtn {
	text-align: center;
	font-size: 3vh;
	font-weight: bold;
	color: #67AB9F;
	text-transform: uppercase;
	border: 1px solid #6C8EBF;
	border-radius: 12px;
	background-color: #F5F5F5;
}

.tealBtn:hover {
	background-color: lightblue;
}

.tealBtn:focus {
	background-color: #DAE8FC;
	outline: none;
}

.addBtn {
    background: transparent url('../images/button_add.png') no-repeat center center;
    background-size: contain;
}

.submitBtn {
    background: transparent url('../images/button_submit.png') no-repeat center center;
    background-size: contain;
}

.cancelBtn {
    background: transparent url('../images/button_cancel.png') no-repeat center center;
    background-size: contain;
}

input {
	font-size: 3vh;
	border: none;
	background-color: rgba(255, 255, 255, 0.75);
}

.error {
	color: red;
	font-size: 2vh;
}

.link {
	color: #10739E;
	font-size: 2vh;
	text-decoration: underline;
}

.banner {
    background-color: #67ab9f;
}

.uib-datepicker-popup.dropdown-menu {
    background-color: #67AB9F;
}

.uib-datepicker-popup.dropdown-menu .text-muted {
	color: transparent;
}

.navigation .nav_tab {
    background: lightblue;
    border: 1px solid black;
    border-radius: 24px;
}

#home label {
	color: #67AB9F;
	font-size: 5vh;
	text-align: center;
	font-weight: bold;
}

#home .dashboard .panel .overlay {
	font-size: 3vh;
	font-weight: bold;
	vertical-align: middle;
}

#profile .text {
	text-align: center;
	color: white;
	font-size: 2vh;
}

#profile .infoContainer label {
    font-size: 2vh;
}

#profile hr {
	border-bottom: 1px solid #67AB9F;
    border-top: none;
    border-left: none;
    border-right: none;
}

#profile .sectionTitle {
	font-size: 3vh;
	text-transform: uppercase;
	color: #67AB9F;
}

#profile .right .infoContainer .title {
	font-size: 2vh;
	font-style: italic;
}

#profile .right .infoContainer .period {
	font-size: 2vh;
	color: #00D9D9;
}

#profile .right .infoContainer p {
	font-size: 2vh;
}

#documents .link {
    font-size: 3vh;
}

#leaveRequest {
	overflow: auto;
}

#leaveRequest td, input {
	font-size: 2vh;
}

#leaveRequest th {
	font-size: 3vh;
	background-color: #404040;
	color: #FFFFFF;
	-webkit-box-shadow: 3px 5px 10px grey;
	-moz-box-shadow: 3px 5px 10px grey;
	box-shadow: 3px 5px 10px grey;
}

#leaveRequest .pending {
	background-image: linear-gradient(rgb(233, 247, 110), rgb(244, 252, 210), rgb(233, 247, 110));
}

#leaveRequest .accepted {
	background-image: linear-gradient(#67ab9f, lightblue, #67ab9f);
}

#leaveRequest .rejected {
	background-image: linear-gradient(rgb(252, 103, 103), rgb(250, 180, 180), rgb(252, 103, 103));
}
