<!--making and linking setup for a login page
<Mi set up the password reset (home page), my job is to make the login page -->
    <div id="login" ng-controller="LoginController" ng-init="htmlLoaded()" ng-show="ready()">
        <img class="imgA1" src="http://www.seekgif.com/uploads/2017/05/clipart-prismatic-abstract-line-art-no-background-6.png" width="550">
        <img class="imgB1" src="https://ubisafe.org/images/transparent-text-stylish-4.png" width="350">
        Username:<input type="text" id="user" ng-model="user">
        Password:<input type="text" id="password" ng-model="pass">
        <button ng-click="login()">Login</button>
    </div>