<div id="forgot" ng-controller="ForgotController" ng-init="htmlLoaded()" ng-show="ready()">
	<div class="resetCenter">
		<h1 style="color:#67AB9F;"><ins>Forgot Password?</ins></h1>
		<label style="font-size:2vh;">Enter your email to reset your password.</label>
		<input type="text" class="input-container" placeholder="email@mail.com" ng-model="user" required />
		<label id="userError" class="error">Sorry, we can't find this email in our records.</label>
		<button class="interactable tealBtn" ng-click="forgotPassword()" autofocus>RESET</button>
		<button class="interactable tealBtn" style="transform: translateX(105%);" ng-click="back()">BACK</button>
	</div>
</div>
