<div id="home" ng-controller="HomeController" ng-init="htmlLoaded()" ng-show="ready()">
	<label>Welcome, {{accessContent.info.name}}</label>
	<div class="dashboard">
		<div class="panel" ng-click="goTo('profile')" ng-show="hasFunction('profile')">
			<img src="assets/images/square_profile.jpg">
			<div class="overlay">
				<span>Profile</span>
			</div>
		</div>
		<div class="panel" ng-click="goTo('timekeeping')" ng-show="hasFunction('timekeeping')">
			<img src="assets/images/square_timekeeping.jpg">
			<div class="overlay">
				<span>Timekeeping</span>
			</div>
		</div>
		<div class="panel" ng-click="goTo('leaverequest')" ng-show="hasFunction('leaverequest')">
			<img src="assets/images/square_leave.jpg">
			<div class="overlay">
				<span>Leave Request</span>
			</div>
		</div>
		<div class="panel" ng-click="goTo('documents')" ng-show="hasFunction('documents')">
			<img src="assets/images/square_documents.jpg">
			<div class="overlay">
				<span>Documents</span>
			</div>
		</div>
		<div class="panel" ng-click="goTo('management')" ng-show="hasFunction('management')">
			<img src="assets/images/square_management.jpg">
			<div class="overlay">
				<span>Management</span>
			</div>
		</div>
		<div class="panel" ng-click="goTo('budget')" ng-show="hasFunction('budget')">
			<img src="assets/images/square_budget.jpg">
			<div class="overlay">
				<span>Budget</span>
			</div>
		</div>
		<div class="panel" ng-click="goTo('evaluation')" ng-show="hasFunction('evaluation')">
			<img src="assets/images/square_evaluation.jpg">
			<div class="overlay">
				<span>Evaluation</span>
			</div>
		</div>
	</div>
</div>
