<div id="leaveRequest" ng-init="htmlLoaded()" ng-show="ready()">
	<div id="leaveRequestError" class="error"></div>
	<table>
		<thead>
			<tr>
				<th></th>
				<th>Leave</th>
				<th>Return</th>
				<th>Status</th>
				<th>Reason</th>
				<th>Comment</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="request in leaveRequests" ng-class="{default: !request.status, pending: request.status === 'P', accepted: request.status === 'A', rejected: request.status === 'R' , canceled: request.status === 'ED'}">
				<td>
					<input ng-if="$index === 0 && !adding" type="button" class="input-container" ng-class="{interactable: $index === 0, addBtn: !adding}"
					 ng-click="addRequest()" />
				</td>
				<td>
					<input id="from" ng-if="$index === 0 && adding" type="text" class="input-container" uib-datepicker-popup="{{format}}" ng-model="newRequest.leavefrom" is-open="datePickerOn.from" ng-click="toggleDatePicker('from')" datepicker-options="dateOptions" ng-required="true" close-text="Close"/>
					<input ng-if="$index !== 0 || ($index === 0 && !adding)" type="text" class="input-container" ng-value="convertDate(request.leaveFrom)"
					 disabled />
				</td>
				<td>
					<input id="to" ng-if="$index === 0 && adding" type="text" class="input-container" uib-datepicker-popup="{{format}}" ng-model="newRequest.leaveto" is-open="datePickerOn.to" ng-click="toggleDatePicker('to')" datepicker-options="dateOptions" ng-required="true" close-text="Close"/>
					<input ng-if="$index !== 0 || ($index === 0 && !adding)" type="text" class="input-container" ng-value="convertDate(request.leaveTo)"
					 disabled />
				</td>
				<td>{{request.status}}</td>
				<td>
					<input ng-if="$index !== 0 || ($index === 0 && !adding)" type="text" class="input-container" ng-value="request.leaveType"
					 disabled />
					<select ng-if="$index === 0 && adding" class="input-container" ng-model="newRequest.leavetype" ng-options="type for type in leaveTypes"
					 required></select>
				</td>
				<td style="text-align: left;">
					<input ng-if="$index === 0 && adding" type="text" class="input-container" ng-model="newRequest.comment" required />
					<input ng-if="$index !== 0 || ($index === 0 && !adding)" class="input-container" ng-value="request.comment"
					 disabled />
				</td>
				<td>
					<input ng-if="$index === 0 && adding" type="button" class="input-container interactable submitBtn" ng-click="submitRequest()" />
					<input ng-if="!($index === 0 && adding) && request.status !== 'ED' && dateIsInFuture(request.leaveFrom)" type="button" class="input-container interactable cancelBtn"
					 ng-click="cancelRequest($index)" />
				</td>
			</tr>
		</tbody>
	</table>
</div>