<!--making and linking setup for a login page
<Mi set up the password reset (home page), my job is to make the login page -->
    <div id="login" ng-controller="LoginController" ng-init="htmlLoaded()" ng-show="ready()">
    	<!-- rainbow -->
        <img class="imgA1" src="http://www.seekgif.com/uploads/2017/05/clipart-prismatic-abstract-line-art-no-background-6.png"   >
        <!-- Welcome image -->
        <img class="imgB1" src="https://ubisafe.org/images/transparent-text-stylish-4.png" >    
        <input class="textInput" type="text" placeholder="Username" id="user" ng-model="user">
        <input class="textInput" style="top:50%"  type="password" placeholder="Password" id="password" ng-model="pass">
        <button class="buttoninfoLogin" ng-click="login()" position = absolute><b>Login</b></button>
    	<p class="buttoninfo" style="top:60%"><a href="https://www.google.com">Forgot ID/Password?</a></p>
    </div>