<div id="login" ng-init="htmlLoaded()" ng-show="ready()">
	<!-- rainbow -->
	<img class="imgA1" src="assets/images/background.png" alt="http://www.seekgif.com/free-image/clipart-prismatic-abstract-line-art-no-background-6188.html">
	<!-- Welcome image -->
	<img class="imgB1" src="assets/images/welcome.png" alt="https://ubisafe.org/images/transparent-text-stylish-4.png">
	<input type="text" style="bottom: 40vh;" placeholder="Username" id="user" ng-model="user">
	<input type="password" style="bottom: 33vh;" placeholder="Password" ng-model="pass">
	<label id="loginError" class="error">The username or password you entered is incorrect.</label>
	<button autofocus class="interactable tealBtn" ng-click="login()">Login</button>
	<label class="link" ng-click="goTo('forgot')">Forgot ID/Password?</label>
</div>
