<div id="management" ng-controller="ManagementController" ng-init="htmlLoaded()" ng-show="ready()">
	<div class="container">
		<select class="interactable" ng-model="selectedProject" ng-options="project as project.name for project in projectList" required></select>
		<select class="interactable" style="display:inline-block" ng-model="selectedEmployee" ng-options="id as employee for (id, employee) in employeeList" required></select>
		<button ng-if="selectedProject && selectedEmployee && selectedProject.members.indexOf(selectedEmployee) === -1" class="interactable addBtn" style="display:inline-block" ng-click="addProjectEmployee()"></button>
		<div class="display">
			<div ng-if="selectedProject" class="card" ng-repeat="id in selectedProject.members">
				<label>{{employeeList[id]}} ({{id}})</label>
				<button class="interactable cancelBtn" ng-click="removeProjectEmployee($index)"></button>
			</div>
		</div>
	</div>
</div>
