<div id="profile" ng-controller="ProfileController" ng-init="htmlLoaded()" ng-show="ready()">
	<div class="column left">
		<div class="imgContainer">
			<img ng-src="{{getProfileImgPath()}}">
			<div class="text" style="font-weight:bold; font-size:3vh; bottom:3vh;">
				{{accessContent.info.name}}
			</div>
			<div class="text">
				{{accessContent.info.title}}
			</div>
		</div>
		<div class="infoContainer">
			<div class="item">
				<div class="item-left">
					<img src="assets/images/group.png">
				</div>
				<div class="item-right">
					<label>
						{{accessContent.info.group}}
					</label>
				</div>
			</div>

			<hr>

			<div class="item">
				<div class="item-left">
					<img src="assets/images/phones.png">
				</div>
				<div class="item-right">
					<label ng-repeat="phone in accessContent.info.phoneNumbers">
						{{phone[0]}}: {{phone[1]}}
					</label>
				</div>
			</div>

			<hr>

			<div class="item">
				<div class="item-left">
					<img src="assets/images/contact.png">
				</div>
				<div class="item-right">
					<label ng-repeat="field in accessContent.info.contact">
						{{field}}
					</label>
				</div>
			</div>

			<hr>

			<div class="item">
				<div class="item-left">
					<img src="assets/images/skills.png">
				</div>
				<div class="item-right">
					<label ng-repeat="skill in accessContent.info.skills">
						{{skill}}
					</label>
				</div>
			</div>
		</div>
	</div>
	<div class="column right">
		<div>
			<div class="sectionTitle">
				<div class="item-left">Experiences</div>
				<div class="item-right"><hr></div>
			</div>
			<div class="infoContainer">
				<div ng-repeat-start="item in accessContent.info.experiences">
					<div class="title">
						{{item.title}} @ {{item.location}}
					</div>
					<div class="period">
						{{item.from}} - {{item.to}}
					</div>
					<p>
						{{item.description}}
					</p>
				</div>
				<hr ng-repeat-end ng-if="$index !== accessContent.info.experiences.length - 1">
			</div>
		</div>
		<div>
			<div class="sectionTitle">
				<div class="item-left">Achievements</div>
				<div class="item-right"><hr></div>
			</div>
			<div class="infoContainer">
				<div ng-repeat-start="item in accessContent.info.achievements">
					<div class="title">
						{{item.title}}
					</div>
					<p>
						{{item.description}}
					</p>
				</div>
				<hr ng-repeat-end ng-if="$index !== accessContent.info.achievements.length - 1">
			</div>
		</div>
		<div>
			<div class="sectionTitle">
				<div class="item-left">Education</div>
				<div class="item-right"><hr></div>
			</div>
			<div class="infoContainer">
				<div ng-repeat-start="item in accessContent.info.educations">
					<div class="title">
						{{item.title}}
					</div>
					<div class="period">
						{{item.from}} - {{item.to}}
					</div>
					<p>
						{{item.description}}
					</p>
				</div>
				<hr ng-repeat-end ng-if="$index !== accessContent.info.educations.length - 1">
			</div>
		</div>
	</div>
</div>