<div id="reset" ng-init="htmlLoaded()" ng-show="ready()">
	<div class="resetCenter">
		<h1 style="color:#67AB9F;"><ins>Reset Password</ins></h1>
		<input type="password" class="input-container" placeholder="New password" ng-model="newPass" required />
		<input type="password" class="input-container" placeholder="Confirm new password" ng-model="confirmPass" required />
		<label id="resetError" class="error">Password entries don't match.</label>
		<button class="interactable tealBtn" ng-click="resetPassword()" autofocus>RESET</button>
	</div>
</div>
