<div id="timekeeping" class="grid-page" ng-init="htmlLoaded()" ng-show="ready()">
	<div ng-show="msg" ng-class="msgType">{{msg}}</div>
	<!-- <div style="display:flex; height:100%; justify-content:center; align-items:center;">

	</div> -->
	<table class="table">
		<thead>
			<tr>
				<th>Day of the week</th>
				<th>Hours worked</th>
				<th>Sick</th>
				<th>Vacation</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Monday</td>
				<td>
					<select class="input-container" ng-model="hrs.mon.work" ng-options="hr for hr in hours"></select>
				</td>
				<td>
					<select class="input-container" ng-model="hrs.mon.sick" ng-options="hr for hr in hours"></select>
				</td>
				<td>
					<select class="input-container" ng-model="hrs.mon.vacation" ng-options="hr for hr in hours"></select>
				</td>
			</tr>
			<tr>
				<td>Tuesday</td>
				<td>
					<select class="input-container" ng-model="hrs.tue.work" ng-options="hr for hr in hours"></select>
				</td>
				<td>
					<select class="input-container" ng-model="hrs.tue.sick" ng-options="hr for hr in hours"></select>
				</td>
				<td>
					<select class="input-container" ng-model="hrs.tue.vacation" ng-options="hr for hr in hours"></select>
				</td>
			</tr>
			<tr>
				<td>Wednesday</td>
				<td>
					<select class="input-container" ng-model="hrs.wed.work" ng-options="hr for hr in hours"></select>
				</td>
				<td>
					<select class="input-container" ng-model="hrs.wed.sick" ng-options="hr for hr in hours"></select>
				</td>
				<td>
					<select class="input-container" ng-model="hrs.wed.vacation" ng-options="hr for hr in hours"></select>
				</td>
			</tr>
			<tr>
				<td>Thursday</td>
				<td>
					<select class="input-container" ng-model="hrs.thu.work" ng-options="hr for hr in hours"></select>
				</td>
				<td>
					<select class="input-container" ng-model="hrs.thu.sick" ng-options="hr for hr in hours"></select>
				</td>
				<td>
					<select class="input-container" ng-model="hrs.thu.vacation" ng-options="hr for hr in hours"></select>
				</td>
			</tr>
			<tr>
				<td>Friday</td>
				<td>
					<select class="input-container" ng-model="hrs.fri.work" ng-options="hr for hr in hours"></select>
				</td>
				<td>
					<select class="input-container" ng-model="hrs.fri.sick" ng-options="hr for hr in hours"></select>
				</td>
				<td>
					<select class="input-container" ng-model="hrs.fri.vacation" ng-options="hr for hr in hours"></select>
				</td>
			</tr>
			<tr>
				<td>Saturday</td>
				<td>
					<select class="input-container" ng-model="hrs.sat.work" ng-options="hr for hr in hours"></select>
				</td>
				<td>
					<select class="input-container" ng-model="hrs.sat.sick" ng-options="hr for hr in hours"></select>
				</td>
				<td>
					<select class="input-container" ng-model="hrs.sat.vacation" ng-options="hr for hr in hours"></select>
				</td>
			</tr>
			<tr>
				<td>Sunday</td>
				<td>
					<select class="input-container" ng-model="hrs.sun.work" ng-options="hr for hr in hours"></select>
				</td>
				<td>
					<select class="input-container" ng-model="hrs.sun.sick" ng-options="hr for hr in hours"></select>
				</td>
				<td>
					<select class="input-container" ng-model="hrs.sun.vacation" ng-options="hr for hr in hours"></select>
				</td>
			</tr>
		</tbody>
	</table>

	<div style="display:inline-block;">
		<button class="interactable tealBtn" style="left: 20%;" ng-click="save()" autofocus>Save</button>
		<button class="interactable tealBtn" style="right: 20%;" ng-click="submit()" autofocus>Submit</button>
	</div>
</div>